<div class="modal fade" id="source_form_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t((@source.persisted?? '.edit' : '.new')) %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @source, html: { id: "source_form" } do |f| %>
          <%= f.error_notification %>
          <%= hidden_field :source, :item, value: item.id %>
          <%= hidden_field :source, :order, value: order.id %>
          <%= f.input :title %>
          <%= f.input :link %>
          <%= f.input :uploaded_file, as: :file %>
          <%= f.association :orders,
            collection: item.orders,
            as: :check_boxes, 
            label_method: :description, 
            value_method: :id %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button form="source_form" type="submit" class="btn btn-success"><%= t('save') %></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t('cancel') %></button>
      </div>
    </div>
  </div>
</div>