<li id="source-<%= source.id %>"
  data-parent="<%= "item-#{item.id}" %>">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col">
        <% css = (source.deprecated?? 'text-line-through text-secondary' : '') %>
        <% if source.link.present? %>
          <%= link_to (source.title.presence || source.link), source.link,
            target: '_blank', class: css
          %>
        <% else %>
          <span class="<%= css %>"><%= source.title %></span>
        <% end %>
      </div>
      <div class="col-auto">
        <div class="btn-group btn-group-sm" role="group" aria-label="View Source">
          <%= link_to edit_source_path(source, item: source.item.id),
            remote: true, 
            title: t('.edit'),
            class: "btn btn-light" do %>
            <%= fa_icon 'pencil' %>
          <% end %>
          <%= link_to source_path(source), 
            class: "btn btn-light", 
            title: t('.show_resource'),
            target: '_blank' do %>
            <% case true %>
            <% when source.streaming? %>
              <%= fa_icon 'play' %>
            <% when source.image? %>
              <%= fa_icon 'image' %>
            <% else %>
              <%= fa_icon 'file' %>
            <% end %>
          <% end %>
          <% if source.allow_download? %>
            <%= link_to download_source_path(source), 
              title: t('.download_resource'),
              class: "btn btn-light" do %>
              <%= fa_icon 'download' %>
            <% end %>
          <% end %>
          <%= link_to history_source_path(source), 
            title: t('.history'),
            class: "btn btn-light" do %>
            <%= fa_icon 'history' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</li>