<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @source.link %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @source.resource %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
