<ul class="mt-2">
  <% order.sources.each do |source| %>
    <li class="">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col">
            <% if source.link.present? %>
              <%= link_to (source.title.presence || source.link), source.link,
                target: '_blank', class: (order.deprecated?? 'text-secondary' : '')
              %>
            <% else %>
              <%= source.title %>
            <% end %>
          </div>
          <div class="col-auto">
            <div class="btn-group btn-group-sm" role="group" aria-label="View Source">
              <%= link_to source_path(source), class: "btn btn-light", target: '_blank' do %>
                <%= fa_icon 'file' %>
              <% end %>
              <%= link_to download_source_path(source), class: "btn btn-light" do %>
                <%= fa_icon 'download' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>