<li id="item-<%= subitem.id %>"
  data-parent="<%= "item-#{subitem.item.id}" %>"
  class="list-group-item px-0 <%= 'text-secondary bg-light' if subitem.deprecated? %>">
  <div class="d-flex w-100">
    <div class="mb-1 mx-1 <%= 'text-line-through' if subitem.deprecated? %>">
      <h6><%= subitem.title %></h6>
      <% if subitem.description.present? %>
        <p class="mb-1 font-size-90"><%= subitem.description %></p>
      <% end %>
    </div>
    <div class="align-self-top ml-auto no-wrap">
      <% if subitem.deprecated? %>
        <small class="ml-auto mr-2">
          <span class="badge badge-secondary badge-pill d-inline-block"><%= "En Desuso" %></span>
        </small>
      <% end %>
      <% published_at = subitem.published_at.presence || Date.today %>
      <small class="px-1 no-wrap d-none d-md-inline-block" title="<%= l(published_at, format: :long) %>">
        <%= l(published_at, format: :short) %>
      </small>
      <div class="btn-group btn-group-sm ml-2" role="group" aria-label="Edit Item">
        <% if @admin %>
          <%= link_to edit_item_path(subitem),
            remote: true, 
            title: t('.edit'),
            class: "btn btn-light" do %>
            <%= fa_icon 'pencil' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <ul class="mt-2 sources-list">
    <% subitem.sources.each do |source| %>
      <%= render partial: 'sources/source', locals: { source: source, item: subitem } %>
    <% end %>
    <% if ! subitem.deprecated? && @admin %>
      <li class="list-style-none">
        <small>
          <%= link_to t('.new'), new_source_path(item: subitem.id), remote: true, type: :post %>
        </small>
      </li>
    <% end %>
  </ul>
</li>