<div class="container-fluid">
  <div class="row">
    <div class="col d-flex flex-column" style="height: 100vh">
      <%= render partial: 'layouts/header' %>
      <div class="row">
        <div class="col-auto mx-auto my-2 d-none d-xl-block">
          <div class="list-group list-group-horizontal">
            <% @categories.each do |category| %>
              <% active = category == @category %>
              <%= render partial: 'category', locals: { category: category, active: active } %>
            <% end %>
            <% if @admin %>
              <%= link_to "+", new_category_path,
                class: "list-group-item list-group-item-action px-2",
                title: t('.new_category'),
                remote: true %>
            <% end %>
          </div>
        </div>
        <div class="col d-xl-none px-0 text-center">
          <ul class="list-group">
            <li class="list-group-item no-wrap p-1 d-flex justify-content-between rounded-0">
              <button type="button" class="btn btn-sm" data-toggle="collapse" href="#collapse_category">
                <%= fa_icon 'chevron-down', class: 'category-toggle' %>
              </button>
              <span class="d-inline-block v-align-middle"><%= @category.name %></span>
              <% if @admin && @category != Category.default %>
                <%= link_to edit_category_path(@category),
                  id: "edit-category-#{@category.id}",
                  remote: true,
                  style: 'border-left: none',
                  class: "px-2" do %>
                  <%= fa_icon 'pencil' %>
                <% end %>
              <% end %>
              <button type="button" class="btn btn-sm" data-toggle="collapse" href="#collapse_category">
                <%= fa_icon 'chevron-down', class: 'category-toggle' %>
              </button>
            </li>
          </ul>
          <div class="collapse" id="collapse_category">
            <div class="list-group">
              <% Category.where.not(id: @category.id).each do |category| %>
                <a href="<%= items_path(category: category.name) %>" class="list-group-item no-wrap"><%= category.name %></a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row flex-grow-1 justify-content-center overflow-auto" style="padding-bottom:70px">
        <div class="col-xs-12 col-md-10 col-xl-8" id="items_container">
          <% if @admin %>
            <div class="row my-1 my-md-2">
              <div class="col-12 col-md-4 offset-md-4 text-center">
                <% category = @category.is_a?(String)? Category.find_by_name(@category) : @category %>
                <%= link_to t('.new_item'), new_item_path(category: category.name), remote: true %>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col px-0">
              <ul class="list-group" id="items_list">
                <% @items.each do |item| %>
                  <%= render partial: 'item', locals: { item: item } %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row bg-light text-center justify-content-center py-1 fixed-bottom">
        <small>
          <%= t('.about') %>
          <%= link_to t('.about_title'), t('.about_link'), target: :_blank, class: 'ml-3' %>
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path,
              method: :delete,
              class: 'ml-3' do %>
                <%= fa_icon 'times-circle', class: 'text-danger mr-1' %><%= t('.log_out') %>
              <% end %>
          <% else %>
            <%= link_to new_user_session_path, 
              remote: true,
              class: 'modal-response ml-3' do %>
                <%= fa_icon 'user', class: 'mr-1' %><%= t('.log_in') %>
              <% end %>
          <% end %>
        </small>
      </div>
    </div>
  </div>
</div>