<div class="row pt-1 bg-warning">
  <div class="col-12 text-center">
    <h3><%= t('.title') %></h3>
  </div>
  <div class="col-auto text-right no-wrap" style="width:30%;margin-left:-30%;">
    <% if user_signed_in? %>
      <%= current_user.email %>
      <%= link_to t('.log_out'),
        destroy_user_session_path,
        method: :delete,
        class: 'ml-2 v-align-middle' %>
    <% else %>
    <%= link_to t('.log_in'),
      new_user_session_path, 
      remote: true,
      class: 'modal-response v-align-middle' %>
    <% end %>
  </div>
</div>
<div class="fixed-bottom bg-light text-center">
  <small><%= t('.about') %><%= link_to t('.about_title'), t('.about_link'), target: :_blank, class: 'ml-3' %></small>
</div>