<div class="row pt-1 bg-warning">
  <div class="col-12 col-xl-4 offset-xl-4 text-center">
    <h3 class="d-none d-md-inline"><%= t('.title') %></h3>
    <h5 class="d-inline d-md-none"><%= t('.title') %></h5>
  </div>
  <div class="d-none d-md-block col-xl-auto ml-xl-auto text-center no-wrap align-self-center">
    <% if user_signed_in? %>
      <%= current_user.email %>
      <%= link_to t('.log_out'),
        destroy_user_session_path,
        method: :delete,
        class: 'ml-2 v-align-middle' %>
    <% else %>
    <%= link_to t('.log_in'),
      new_user_session_path, 
      remote: true,
      class: 'modal-response v-align-middle' %>
    <% end %>
  </div>
</div>