<div class="row pr-3" style="height:4vh;z-index:2">
  <div class="col-auto ml-auto">
    <small>
      <%= link_to administration_path do %>
        <%= fa_icon 'user' %>&nbsp;<%= t('.login') %>
      <% end %>
    </small>
  </div>
</div>
<div class="row pt-1 bg-warning" style="margin-top:-4vh;z-index:1">
  <div class="col text-center">
    <h3><%= t('.title') %></h3>
  </div>
</div>
<div class="row pb-1 bg-warning">
  <div class="col text-center">
    <h6><%= t('.subtitle') %></h6>
  </div>
</div>